
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: url('bg.jpg') top center;
}

body > div {
	margin: 20px;	
}

h1, footer {
	color: #fff;
	text-shadow: 0 2px 3px #0099cc;
}

.canvas-container {
	width: 800px;
	height: 400px;
	margin: 80px auto;
}